.search-bar-container {
    padding: 1rem 20%;
}

input {
    border-radius: 10px !important;
}

.btn {
    border-radius: 10px !important;
}

.modal-content {
    background: #fae96f !important;
}

.results-container {
    background: #fae96f;
    padding: 1em 0px;
    margin: 0 10%;
    height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 1px 1px 5px grey;
    border-radius: 10px;
}

.spinner-border {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
}

.list {
    list-style-type: none;
}

.list-item {
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-item-title {
    display: flex;
    flex-direction: row;
    column-gap: 0.5em;
    align-items: baseline;
}

.list-item:hover {
    transform: scale(1.1);
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

@media (max-width: 576px) {
    .search-bar-container {
        padding: 1rem 5%;
    }

    .results-container {
        position: relative;
        margin: 0 5%;
        height: 70vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .spinner-border {
        left: 45%;
        top: 40%;
    }
}
