body {
    margin: 0;
    background-color: #f6c101 !important;
    color: #032535 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Ruda", sans-serif !important;
}

a,
p,
input,
button {
    font-family: "Roboto Slab", serif !important;
}
